<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mubank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-item position="floating">
        Login
      </ion-item>
    <ion-input [(ngModel)]="login"></ion-input>
  </ion-item>
  <div>
    <ion-label position="floating">
      Senha
      </ion-label>
        <ion-input type="password" [(ngModel)]="senha">
      </ion-input>
    </ion-item>
    <div>
      <ion-button color="success" size="block">
        Entrar
      </ion-button>
    </div>
    <div>
      [{{login}} - {{senha}}]
    </div>
  </div>
</ion-content>
